<div class="mt-5">
  <form method="get">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">@</span>
      <input
        name="q"
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="addon-wrapping"
      />
    </div>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">@</span>
      <select
        name="gender"
        class="form-control"
        placeholder="gender"
        aria-label="gender"
        aria-describedby="addon-wrapping"
      >
        <option value="">All</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Tim kiem</button>
  </form>
</div>